# Ignore the node_modules directory
node_modules/
etc/key/*.*
test/
dumpAWS/
db/*.txt
# Ignore Configuration
config_*.js
# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
