extends layout
block content
    script(src='/scripts/libraries/RGraph/RGraph.hbar.js')
    script(src='/scripts/reportTipologia.js')
    div.container
        h1 Report Redmine
        p  Aperte e Chiuse
           ul(id="guide")
           table(id="Tipologie", class="table table-condensed table-hovered table-striped")
            tr
             th Tipologia
             th Totali     
             th Chiuse
             th Aperte
            - each item in result
             tr
              td #{item['Tipologia']}
              td #{item['totale']}   
              td #{item['Chiuse']}
              td #{item['Aperte']}
        
    div(align="center")
        canvas(id="cvs", width="1000", height="300")
        p &nbsp;
        canvas(id="cvs3", width="1000", height="1000")
       
